<div class="header-top" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around center" >


  <div fxFlex class="contact-info" fxHide.xs fxLayout="row" fxLayoutAlign="center center">

      <mat-icon class="icons-style">call</mat-icon>
      <span class="text-white">+021-95-51-54</span>

      <mat-icon class="icons-style">mail</mat-icon>
      <span class="text-white">email@email.com</span>

      <mat-icon class="icons-style">location_on</mat-icon>
      <span class="text-white">Via della montagna - 10</span>

  </div>

  <div fxFlex class="user-info" fxLayout="row" fxLayoutAlign="center center">

    <mat-icon class="icons-style">attach_money</mat-icon>
    <span class="text-white">USD</span>

    <mat-icon class="icons-style">person</mat-icon>
    <span class="text-white">My Account</span>

  </div>


</div>


