<!-- Sezione dello shop -->
<div class="shop">
  <!-- Immagine dello shop -->
  <div class="shop-img">
    <img class="image-bg" src="/assets/images/{{image}}.png" alt="">
    <div class="triangle"></div>
  </div>
  <!-- Corpo dello shop -->
  <div class="shop-body">
    <!-- Titolo della collezione -->
    <p fxHide.xs>{{title}}<br>Collection</p>
    <!-- Pulsante "SHOP NOW" -->
    <a href="#" class="cta-btn">SHOP NOW <mat-icon class="icon-dim">arrow_circle_right</mat-icon></a>
  </div>
</div>
