<!-- Sezione del piè di pagina -->
<footer id="footer">
  <div fxLayout="row" fxLayoutAlign="center center" class="section-top">
    <div class="container">
      <!-- Sezione superiore del piè di pagina -->
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="25" fxFlex.xs="40">
          <div class="footer" fxLayout="column">
            <h3 class="footer-title">Chi Siamo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="icons-style">location_on</mat-icon>
              <a href="#"><i class="fa fa-map-marker"></i>Via della montagna - 10</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="icons-style">call</mat-icon>
              <a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="icons-style">mail</mat-icon>
              <a href="#"><i class="fa fa-envelope-o"></i>email@example.com</a>
            </div>
          </div>
        </div>
        <div fxFlex="25" fxFlex.xs="20">
          <div class="footer" fxLayout="column">
            <h3 class="footer-title">Categorie</h3>
            <a href="#">Offerte speciali</a>
            <a href="#">Laptop</a>
            <a href="#">Smartphone</a>
            <a href="#">Fotocamere</a>
            <a href="#">Accessori</a>
          </div>
        </div>
        <div fxFlex="25" fxFlex.xs="20">
          <div class="footer" fxLayout="column">
            <h3 class="footer-title">Informazioni</h3>
            <a href="#">Chi Siamo</a>
            <a href="#">Contattaci</a>
            <a href="#">Politica sulla privacy</a>
            <a href="#">Ordini e resi</a>
            <a href="#">Termini e condizioni</a>
          </div>
        </div>
        <div fxFlex="25" fxFlex.xs="20">
          <div class="footer" fxLayout="column">
            <h3 class="footer-title">Servizio</h3>
            <a href="#">Il mio account</a>
            <a href="#">Visualizza carrello</a>
            <a href="#">Lista dei desideri</a>
            <a href="#">Traccia il mio ordine</a>
            <a href="#">Aiuto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" id="bottom-footer" class="section-bottom">
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center">
        <a href="#"><img class="card-dimension" src="/assets/images/visa.png" alt="Visa"></a>
        <a href="#"><img class="card-dimension" src="/assets/images/MC.png" alt="Mastercard"></a>
        <a href="#"><img class="card-dimension" src="/assets/images/Amex.png" alt="Amex"></a>
        <a href="#"><img class="card-dimension" src="/assets/images/pp.png" alt="PayPal"></a>
        <a href="#"><img class="card-dimension" src="/assets/images/bancomat.jpg" alt="Bancomat"></a>
        <a href="#"><img class="card-dimension" src="/assets/images/maestro.png" alt="Maestro"></a>
      </div>
    </div>
  </div>
</footer>
